
services:

  # ============================================================
  # PHP-FPM (Laravel Backend)
  # ============================================================
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: desafio_backend
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
      - backend_vendor:/var/www/html/vendor
    networks:
      - app-network
    expose:
      - 9000
    depends_on:
      - db
      - redis

  # -------------------------
  # NGINX
  # -------------------------
  nginx:
    image: nginx:stable
    container_name: desafio_nginx
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - app-network

  # ============================================================
  # FRONTEND (Vue 2)
  # ============================================================
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: desafio_frontend
    ports:
      - "8080:8080"
      
    volumes:
      - ./frontend:/app
      - /app/node_modules

    command: ["npm", "run", "serve"]
    stdin_open: true
    tty: true
    environment:
      CHOKIDAR_USEPOLLING: true
      CHOKIDAR_INTERVAL: 1000
      WATCHPACK_POLLING: true
    networks:
      - app-network

  # -------------------------
  # MYSQL
  # -------------------------
  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_DATABASE: tasks_db
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_ROOT_HOST: "%"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - app-network

  # -------------------------
  # Redis
  # -------------------------
  redis:
    image: redis:alpine
    container_name: redis_cache
    ports:
      - "6379:6379"
    networks:
      - app-network

  # ============================================================
  # Mailhog (opcional)
  # ============================================================
  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - app-network

# ============================================================
# VOLUMES
# ============================================================
volumes:
  db_data:
  backend_vendor:  
  frontend_node_modules:

# ============================================================
# NETWORKS
# ============================================================
networks:
  app-network:
    driver: bridge
